<html>
    <head>
        <title>Submittion Form</title>
    </head>
    <body>
        <form action = "/" method = "POST">
            <input type="number" width="50px" name=tap>
            <button>Submit</button>
        </form>
    </body>
</html>