<html>
    <head>
        <title>
            Successful
        </title>
    </head>
    <body>
        <span style="font-size:10px;">The URL HAS been changed Successfully</span>
        <br>
        <a href = "/">Go Back</a>
    </body>
</html>