<html>
    <head>
        <title>
            Portal to changet the URL
        </title>
    </head>
    <body>
        <form action="/" method="POST">
            <input type="text" name="URLfetch" width="50px">
            <button>Submit</button>
        </form>
    </body>
</html>